* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.header {
  background-color: #ef0e3d;
  text-align: center;
}
.header .logo {
  width: 50%;
}
.header .title {
  font-size: 20px;
  color: #fff;
}
.scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score {
  text-align: center;
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
.score.current {
  background-color: #3b4cca;
  color: #fff;
}
.score.best {
  background-color: #ffde00;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 10px 10px 50px;
}

.grid .sprite {
  width: 100px;
}
.grid .pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #808080b8;
  border-radius: 5px;
  cursor: pointer;
}
.grid .name {
  color: #fff;
  font-weight: 600;
}
